<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect everything to public folder except admin and users folders
    RewriteCond %{REQUEST_URI} !^/admin/
    RewriteCond %{REQUEST_URI} !^/users/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>